* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5mm;
}

ul {
  list-style: none;
  width: 425px;    
  margin-left: 724px;
  margin-bottom: 0%;
}

form {
  background-color: rgb(219, 219, 219);
}

tr {
  height: 70px;
  border-color: black;
}

li {
  width: 400px;
}

/* body {
  background-color: rgb(220, 0, 0);
} */

button {
  width: 400px;
  
  text-align: left;
  border-top-style: solid;
  border-bottom-style: none;
  border-left: none;
  border-right: none;
  border-top-color: grey;
}

.weight {
  width: 160px;
}

.name {
  width: 225px;
}

.hight {
  width: 70px;
}

.debut {
  width: 130px;
}

.hometown {
  width: 125px;
}

.input-control {
  height: 50px;
  width: 400px;
  margin-left: 20px;
  background-color: rgb(219, 219, 219);
}

.hide {
  display: none;
}

.box {
  padding-top: 20px;
  display: grid;
  justify-content: center;
  background-color: rgb(219, 219, 219);
}

.form-control {
  border: none;
  display: grid;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 0px;
  width: 100%;
  background-color: rgb(219, 219, 219);
}

.mydiv {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 50px;
  width: 100%;
  background-color: rgb(219, 219, 219);
}

