<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">
        <script src="static/scripts.js" defer></script>
        <title>Ufc figher guessing game</title>
    </head>
    <header>
        <div class="twin">
            UFC wordle
            <button id="myBtn">&#10068</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>How to play</h2>
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-body">
                        <ul class="how-to-ul">
                            <li class="how-to-li">You get 7 guesses to pick the random fighter</li>
                            <li class="how-to-li">Enter any male fighter in the top 15 found on https://www.ufc.com/rankings</li>
                            <li class="how-to-li"><span class="yellow">Yellow in the debut</span> column indicates the debut of the random fighter was within 1 year</li>
                            <li class="how-to-li"><span class="yellow">Yellow in the age</span> column indicates the debut of the random fighter was within 3 years</li>
                            <li class="how-to-li"><span class="yellow">Yellow in the weightclass</span> column indicates the debut of the random fighter was within 2 weightclasses</li>
                            <li class="how-to-li"><span class="yellow">Yellow in the height</span> column indicates the debut of the random fighter was within 3"</li>
                            <li class="how-to-li"><span class="green">Green in any column</span> indicates a match</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class="mydiv">
            <form action="/" id="form" method="post" autocomplete="off">
                <div class="form-control">
                    <input class="input-control" id="answer" name="answer" type="text" autocomplete="off" placeholder="name" required></input>
                    
                </div>
                <ul id="auto-comp"></ul>
            </form>
            <div class="box">
                <table class="table table-sm align-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hometown</th>
                            <th>Debut</th>
                            <th>Age</th>
                            <th>Weightclass</th>
                            <th>Height</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guess in guesses %}
                            {% for item in guess %}
                            <div class="high" data-t='{{ item["height"] | tojson }}'></div>
                            <tr>
                                <td class="name">{{item['name'] | title}}</tb>
                                <td class="hometown">{{item['hometown']}}</tb>
                                <td class="debut">{{item['debut']}}</tb>
                                <td class="age">{{item['age']}}</tb>
                                <td class="weight">{{item['weight']}}</tb>
                                <td class="height">{{item['height'] | inch_to_ft}}</tb>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <div id="div1" data-fighters='{{ FIGHTERS | tojson }}'></div>
    <div id="div2" data-random='{{ answer | tojson }}'></div>
</html> 