<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">
        <script defer src="static/scripts.js"></script>
        <title>Ufc figher guessing game</title>
    </head>
    <header>
        How to play
    </header>
    <body>
        <div>
            <form action="/" id="form" method="post" autocomplete="off">
                <div class="form-control">
                    <label>
                        <input id="answer" name="answer" type="text" autocomplete="off" required placeholder="name"></input>
                        <button id="check">Check Answer</button>
                    </label>
                    
                </div>
                <ul>
                </ul>
            </form>
            <div class="box">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hometown</th>
                            <th>Debut</th>
                            <th>Age</th>
                            <th>Weight class</th>
                            <th>Height</th>
                            <th>Reach</th>
                            <th>Leg reach</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td class="name">test</tb>
                                <td class="hometown">test</tb>
                                <td class="debut">test</tb>
                                <td class="age">test</tb>
                                <td class="weight">test</tb>
                                <td class="height">test</tb>
                                <td class="reach">test</tb>
                                <td class="legreach">test</tb>
                            </tr>
                            <tr>
                                <td class="name">test</tb>
                                <td class="hometown">test</tb>
                                <td class="debut">test</tb>
                                <td class="age">test</tb>
                                <td class="weight">test</tb>
                                <td class="height">test</tb>
                                <td class="reach">test</tb>
                                <td class="legreach">test</tb>
                            </tr>
                            <tr>
                                <td class="name">test</tb>
                                <td class="hometown">test</tb>
                                <td class="debut">test</tb>
                                <td class="age">test</tb>
                                <td class="weight">test</tb>
                                <td class="height">test</tb>
                                <td class="reach">test</tb>
                                <td class="legreach">test</tb>
                            </tr>
                            <tr>
                                <td class="name">test</tb>
                                <td class="hometown">test</tb>
                                <td class="debut">test</tb>
                                <td class="age">test</tb>
                                <td class="weight">test</tb>
                                <td class="height">test</tb>
                                <td class="reach">test</tb>
                                <td class="legreach">test</tb>
                            </tr>
                            <tr>
                                <td class="name">test</tb>
                                <td class="hometown">test</tb>
                                <td class="debut">test</tb>
                                <td class="age">test</tb>
                                <td class="weight">test</tb>
                                <td class="height">test</tb>
                                <td class="reach">test</tb>
                                <td class="legreach">test</tb>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html> 